.textarea {
    width: 100%;
}
.publier {
    justify-content: flex-end;
    text-align: end;
    padding: 10px 29px;
    background: #0d6efd;
    border-radius: 10px;
}
.container {
    padding: 9px 5px;
}